We're going to import the RI public payroll dataset and do a little exploration.

In [67]:
import pandas as pd
import numpy as np

RI_data = pd.read_csv('RIpayroll_export_2018-04-30_08-19.csv', error_bad_lines=False)

# data tokenization is messy - issues with some (~550) rows requiring extra columns. 
# For the moment just going to discard these.

b'Skipping line 7272: expected 13 fields, saw 14\nSkipping line 7279: expected 13 fields, saw 14\nSkipping line 7289: expected 13 fields, saw 14\nSkipping line 7300: expected 13 fields, saw 14\nSkipping line 7318: expected 13 fields, saw 14\nSkipping line 7413: expected 13 fields, saw 15\nSkipping line 7432: expected 13 fields, saw 14\nSkipping line 7433: expected 13 fields, saw 14\nSkipping line 7448: expected 13 fields, saw 14\nSkipping line 7470: expected 13 fields, saw 14\nSkipping line 7486: expected 13 fields, saw 14\nSkipping line 7539: expected 13 fields, saw 15\nSkipping line 7563: expected 13 fields, saw 14\nSkipping line 7573: expected 13 fields, saw 14\nSkipping line 7575: expected 13 fields, saw 14\nSkipping line 7579: expected 13 fields, saw 14\nSkipping line 7586: expected 13 fields, saw 14\nSkipping line 7599: expected 13 fields, saw 14\nSkipping line 7614: expected 13 fields, saw 14\nSkipping line 7655: expected 13 fields, saw 14\nSkipping line 7732: expected 13 fields, saw 16\nSkipping line 7744: expected 13 fields, saw 14\nSkipping line 7746: expected 13 fields, saw 14\nSkipping line 7755: expected 13 fields, saw 14\nSkipping line 7786: expected 13 fields, saw 14\nSkipping line 7787: expected 13 fields, saw 14\nSkipping line 7796: expected 13 fields, saw 14\nSkipping line 7839: expected 13 fields, saw 14\nSkipping line 7846: expected 13 fields, saw 14\nSkipping line 7864: expected 13 fields, saw 14\nSkipping line 7880: expected 13 fields, saw 14\nSkipping line 7884: expected 13 fields, saw 14\nSkipping line 7904: expected 13 fields, saw 14\nSkipping line 7916: expected 13 fields, saw 14\nSkipping line 7931: expected 13 fields, saw 14\nSkipping line 7934: expected 13 fields, saw 16\nSkipping line 7976: expected 13 fields, saw 14\nSkipping line 7979: expected 13 fields, saw 14\nSkipping line 7981: expected 13 fields, saw 14\nSkipping line 8090: expected 13 fields, saw 14\nSkipping line 8528: expected 13 fields, saw 14\nSkipping line 8596: expected 13 fields, saw 14\nSkipping line 8623: expected 13 fields, saw 14\nSkipping line 9138: expected 13 fields, saw 14\nSkipping line 9248: expected 13 fields, saw 14\nSkipping line 9324: expected 13 fields, saw 14\nSkipping line 9427: expected 13 fields, saw 15\nSkipping line 9883: expected 13 fields, saw 15\nSkipping line 9901: expected 13 fields, saw 14\nSkipping line 9933: expected 13 fields, saw 14\nSkipping line 9934: expected 13 fields, saw 14\nSkipping line 9948: expected 13 fields, saw 15\nSkipping line 9966: expected 13 fields, saw 14\nSkipping line 10030: expected 13 fields, saw 14\nSkipping line 10153: expected 13 fields, saw 14\nSkipping line 10232: expected 13 fields, saw 14\nSkipping line 10320: expected 13 fields, saw 14\nSkipping line 10585: expected 13 fields, saw 14\nSkipping line 10651: expected 13 fields, saw 14\nSkipping line 11496: expected 13 fields, saw 14\nSkipping line 11500: expected 13 fields, saw 14\nSkipping line 11523: expected 13 fields, saw 14\nSkipping line 11703: expected 13 fields, saw 15\nSkipping line 11707: expected 13 fields, saw 14\nSkipping line 11815: expected 13 fields, saw 14\nSkipping line 11828: expected 13 fields, saw 14\nSkipping line 11837: expected 13 fields, saw 14\nSkipping line 12009: expected 13 fields, saw 14\nSkipping line 12295: expected 13 fields, saw 14\nSkipping line 14545: expected 13 fields, saw 14\nSkipping line 18570: expected 13 fields, saw 14\nSkipping line 18926: expected 13 fields, saw 14\nSkipping line 19508: expected 13 fields, saw 14\nSkipping line 19519: expected 13 fields, saw 14\nSkipping line 20163: expected 13 fields, saw 14\nSkipping line 22780: expected 13 fields, saw 14\nSkipping line 24454: expected 13 fields, saw 14\nSkipping line 25308: expected 13 fields, saw 14\nSkipping line 27396: expected 13 fields, saw 14\nSkipping line 29573: expected 13 fields, saw 14\nSkipping line 29620: expected 13 fields, saw 14\nSkipping line 29627: expected 13 fields, saw 14\nSkipping line 29664: expected 13 fields, saw 14\nSkipping line 29665: expected 13 fields, saw 14\nSkipping line 29669: expected 13 fields, saw 14\nSkipping line 29676: expected 13 fields, saw 14\nSkipping line 29695: expected 13 fields, saw 14\nSkipping line 29708: expected 13 fields, saw 14\nSkipping line 29724: expected 13 fields, saw 14\nSkipping line 29771: expected 13 fields, saw 14\nSkipping line 29794: expected 13 fields, saw 14\nSkipping line 29804: expected 13 fields, saw 14\nSkipping line 29861: expected 13 fields, saw 14\nSkipping line 29864: expected 13 fields, saw 14\nSkipping line 29884: expected 13 fields, saw 14\nSkipping line 29888: expected 13 fields, saw 14\nSkipping line 29896: expected 13 fields, saw 14\nSkipping line 29907: expected 13 fields, saw 14\nSkipping line 29924: expected 13 fields, saw 14\nSkipping line 29925: expected 13 fields, saw 14\nSkipping line 29955: expected 13 fields, saw 14\nSkipping line 30024: expected 13 fields, saw 14\nSkipping line 30070: expected 13 fields, saw 14\nSkipping line 30084: expected 13 fields, saw 14\nSkipping line 30094: expected 13 fields, saw 14\nSkipping line 30103: expected 13 fields, saw 14\nSkipping line 30108: expected 13 fields, saw 14\nSkipping line 30171: expected 13 fields, saw 14\nSkipping line 30192: expected 13 fields, saw 14\nSkipping line 30218: expected 13 fields, saw 14\nSkipping line 30224: expected 13 fields, saw 14\nSkipping line 30257: expected 13 fields, saw 14\nSkipping line 30270: expected 13 fields, saw 14\nSkipping line 30271: expected 13 fields, saw 14\nSkipping line 30287: expected 13 fields, saw 14\nSkipping line 30301: expected 13 fields, saw 14\nSkipping line 30349: expected 13 fields, saw 14\nSkipping line 30364: expected 13 fields, saw 14\nSkipping line 30411: expected 13 fields, saw 14\nSkipping line 30418: expected 13 fields, saw 14\nSkipping line 30453: expected 13 fields, saw 14\nSkipping line 30457: expected 13 fields, saw 14\nSkipping line 30473: expected 13 fields, saw 14\nSkipping line 30481: expected 13 fields, saw 14\nSkipping line 30497: expected 13 fields, saw 14\nSkipping line 30510: expected 13 fields, saw 14\nSkipping line 30528: expected 13 fields, saw 14\nSkipping line 30567: expected 13 fields, saw 14\nSkipping line 30603: expected 13 fields, saw 14\nSkipping line 30654: expected 13 fields, saw 14\nSkipping line 30659: expected 13 fields, saw 14\nSkipping line 30679: expected 13 fields, saw 14\nSkipping line 30686: expected 13 fields, saw 14\nSkipping line 30692: expected 13 fields, saw 14\nSkipping line 30702: expected 13 fields, saw 14\nSkipping line 30717: expected 13 fields, saw 14\nSkipping line 30718: expected 13 fields, saw 14\nSkipping line 30743: expected 13 fields, saw 14\nSkipping line 30821: expected 13 fields, saw 14\nSkipping line 30866: expected 13 fields, saw 14\nSkipping line 30876: expected 13 fields, saw 14\nSkipping line 30885: expected 13 fields, saw 14\nSkipping line 30895: expected 13 fields, saw 14\nSkipping line 30899: expected 13 fields, saw 14\nSkipping line 30960: expected 13 fields, saw 14\nSkipping line 30976: expected 13 fields, saw 14\nSkipping line 31004: expected 13 fields, saw 14\nSkipping line 31009: expected 13 fields, saw 14\nSkipping line 31046: expected 13 fields, saw 14\nSkipping line 31058: expected 13 fields, saw 14\nSkipping line 31074: expected 13 fields, saw 14\nSkipping line 31085: expected 13 fields, saw 14\nSkipping line 31136: expected 13 fields, saw 14\nSkipping line 31147: expected 13 fields, saw 14\nSkipping line 31202: expected 13 fields, saw 14\nSkipping line 31209: expected 13 fields, saw 14\nSkipping line 31251: expected 13 fields, saw 14\nSkipping line 31252: expected 13 fields, saw 14\nSkipping line 31270: expected 13 fields, saw 14\nSkipping line 31275: expected 13 fields, saw 14\nSkipping line 31292: expected 13 fields, saw 14\nSkipping line 31302: expected 13 fields, saw 14\nSkipping line 31322: expected 13 fields, saw 14\nSkipping line 31361: expected 13 fields, saw 14\nSkipping line 31404: expected 13 fields, saw 14\nSkipping line 31456: expected 13 fields, saw 14\nSkipping line 31460: expected 13 fields, saw 14\nSkipping line 31481: expected 13 fields, saw 14\nSkipping line 31486: expected 13 fields, saw 14\nSkipping line 31491: expected 13 fields, saw 14\nSkipping line 31503: expected 13 fields, saw 14\nSkipping line 31520: expected 13 fields, saw 14\nSkipping line 31521: expected 13 fields, saw 14\nSkipping line 31552: expected 13 fields, saw 14\nSkipping line 31628: expected 13 fields, saw 14\nSkipping line 31677: expected 13 fields, saw 14\nSkipping line 31684: expected 13 fields, saw 14\nSkipping line 31698: expected 13 fields, saw 14\nSkipping line 31702: expected 13 fields, saw 14\nSkipping line 31766: expected 13 fields, saw 14\nSkipping line 31783: expected 13 fields, saw 14\nSkipping line 31812: expected 13 fields, saw 14\nSkipping line 31815: expected 13 fields, saw 14\nSkipping line 31847: expected 13 fields, saw 14\nSkipping line 31858: expected 13 fields, saw 14\nSkipping line 31874: expected 13 fields, saw 14\nSkipping line 31887: expected 13 fields, saw 14\nSkipping line 31938: expected 13 fields, saw 14\nSkipping line 32686: expected 13 fields, saw 14\nSkipping line 33539: expected 13 fields, saw 14\nSkipping line 34342: expected 13 fields, saw 14\nSkipping line 34436: expected 13 fields, saw 14\nSkipping line 34476: expected 13 fields, saw 14\nSkipping line 34570: expected 13 fields, saw 15\nSkipping line 34589: expected 13 fields, saw 14\nSkipping line 34591: expected 13 fields, saw 14\nSkipping line 34603: expected 13 fields, saw 14\nSkipping line 34645: expected 13 fields, saw 14\nSkipping line 34699: expected 13 fields, saw 15\nSkipping line 34722: expected 13 fields, saw 14\nSkipping line 34732: expected 13 fields, saw 14\nSkipping line 34735: expected 13 fields, saw 14\nSkipping line 34739: expected 13 fields, saw 14\nSkipping line 34745: expected 13 fields, saw 14\nSkipping line 34758: expected 13 fields, saw 14\nSkipping line 34773: expected 13 fields, saw 14\nSkipping line 34807: expected 13 fields, saw 14\nSkipping line 34817: expected 13 fields, saw 14\nSkipping line 34897: expected 13 fields, saw 16\nSkipping line 34915: expected 13 fields, saw 14\nSkipping line 34922: expected 13 fields, saw 14\nSkipping line 34957: expected 13 fields, saw 14\nSkipping line 34958: expected 13 fields, saw 14\nSkipping line 35007: expected 13 fields, saw 14\nSkipping line 35014: expected 13 fields, saw 14\nSkipping line 35038: expected 13 fields, saw 14\nSkipping line 35058: expected 13 fields, saw 14\nSkipping line 35078: expected 13 fields, saw 14\nSkipping line 35087: expected 13 fields, saw 14\nSkipping line 35101: expected 13 fields, saw 14\nSkipping line 35105: expected 13 fields, saw 16\nSkipping line 35125: expected 13 fields, saw 14\nSkipping line 35149: expected 13 fields, saw 14\nSkipping line 35150: expected 13 fields, saw 14\nSkipping line 35256: expected 13 fields, saw 14\nSkipping line 35734: expected 13 fields, saw 14\nSkipping line 35807: expected 13 fields, saw 14\nSkipping line 35832: expected 13 fields, saw 14\nSkipping line 36361: expected 13 fields, saw 14\nSkipping line 36553: expected 13 fields, saw 14\nSkipping line 36825: expected 13 fields, saw 14\nSkipping line 37007: expected 13 fields, saw 15\nSkipping line 37028: expected 13 fields, saw 14\nSkipping line 37030: expected 13 fields, saw 14\nSkipping line 37061: expected 13 fields, saw 14\nSkipping line 37073: expected 13 fields, saw 15\nSkipping line 37093: expected 13 fields, saw 14\nSkipping line 37159: expected 13 fields, saw 14\nSkipping line 37217: expected 13 fields, saw 14\nSkipping line 37286: expected 13 fields, saw 14\nSkipping line 37367: expected 13 fields, saw 14\nSkipping line 37455: expected 13 fields, saw 14\nSkipping line 37530: expected 13 fields, saw 14\nSkipping line 37749: expected 13 fields, saw 14\nSkipping line 37815: expected 13 fields, saw 14\nSkipping line 38667: expected 13 fields, saw 14\nSkipping line 38669: expected 13 fields, saw 14\nSkipping line 38698: expected 13 fields, saw 14\nSkipping line 38881: expected 13 fields, saw 15\nSkipping line 38886: expected 13 fields, saw 14\nSkipping line 38998: expected 13 fields, saw 14\nSkipping line 39023: expected 13 fields, saw 14\nSkipping line 39208: expected 13 fields, saw 14\nSkipping line 39499: expected 13 fields, saw 14\nSkipping line 39634: expected 13 fields, saw 14\nSkipping line 39804: expected 13 fields, saw 14\nSkipping line 39827: expected 13 fields, saw 14\nSkipping line 40039: expected 13 fields, saw 14\nSkipping line 40061: expected 13 fields, saw 14\nSkipping line 40116: expected 13 fields, saw 14\nSkipping line 40156: expected 13 fields, saw 14\nSkipping line 40287: expected 13 fields, saw 14\nSkipping line 40371: expected 13 fields, saw 14\nSkipping line 40415: expected 13 fields, saw 14\nSkipping line 40536: expected 13 fields, saw 14\nSkipping line 40891: expected 13 fields, saw 14\nSkipping line 40901: expected 13 fields, saw 14\nSkipping line 40914: expected 13 fields, saw 14\nSkipping line 41359: expected 13 fields, saw 14\nSkipping line 41371: expected 13 fields, saw 14\nSkipping line 41406: expected 13 fields, saw 15\nSkipping line 41421: expected 13 fields, saw 15\nSkipping line 41535: expected 13 fields, saw 14\nSkipping line 41560: expected 13 fields, saw 14\nSkipping line 41598: expected 13 fields, saw 14\nSkipping line 41602: expected 13 fields, saw 14\nSkipping line 41645: expected 13 fields, saw 14\nSkipping line 41672: expected 13 fields, saw 14\nSkipping line 41686: expected 13 fields, saw 14\nSkipping line 41693: expected 13 fields, saw 14\nSkipping line 41699: expected 13 fields, saw 14\nSkipping line 41702: expected 13 fields, saw 14\nSkipping line 41707: expected 13 fields, saw 14\nSkipping line 41840: expected 13 fields, saw 14\nSkipping line 41895: expected 13 fields, saw 14\nSkipping line 41927: expected 13 fields, saw 14\nSkipping line 41935: expected 13 fields, saw 14\nSkipping line 42040: expected 13 fields, saw 14\nSkipping line 42256: expected 13 fields, saw 14\nSkipping line 42315: expected 13 fields, saw 14\nSkipping line 42328: expected 13 fields, saw 14\nSkipping line 42354: expected 13 fields, saw 14\nSkipping line 42431: expected 13 fields, saw 14\nSkipping line 42599: expected 13 fields, saw 14\nSkipping line 42620: expected 13 fields, saw 14\nSkipping line 42624: expected 13 fields, saw 15\nSkipping line 42628: expected 13 fields, saw 14\nSkipping line 42654: expected 13 fields, saw 14\nSkipping line 42660: expected 13 fields, saw 14\nSkipping line 42714: expected 13 fields, saw 14\nSkipping line 42750: expected 13 fields, saw 14\nSkipping line 42762: expected 13 fields, saw 14\nSkipping line 42773: expected 13 fields, saw 14\nSkipping line 42788: expected 13 fields, saw 14\nSkipping line 42797: expected 13 fields, saw 14\nSkipping line 42809: expected 13 fields, saw 14\nSkipping line 42816: expected 13 fields, saw 14\nSkipping line 42843: expected 13 fields, saw 14\nSkipping line 42857: expected 13 fields, saw 14\nSkipping line 42931: expected 13 fields, saw 14\nSkipping line 42945: expected 13 fields, saw 14\nSkipping line 42977: expected 13 fields, saw 14\nSkipping line 42986: expected 13 fields, saw 14\nSkipping line 42995: expected 13 fields, saw 14\nSkipping line 43039: expected 13 fields, saw 14\nSkipping line 43047: expected 13 fields, saw 14\nSkipping line 43095: expected 13 fields, saw 14\nSkipping line 43146: expected 13 fields, saw 14\nSkipping line 43180: expected 13 fields, saw 14\nSkipping line 43199: expected 13 fields, saw 15\nSkipping line 43217: expected 13 fields, saw 15\nSkipping line 43227: expected 13 fields, saw 14\nSkipping line 43294: expected 13 fields, saw 14\nSkipping line 43375: expected 13 fields, saw 14\nSkipping line 43452: expected 13 fields, saw 14\nSkipping line 43707: expected 13 fields, saw 14\nSkipping line 43816: expected 13 fields, saw 14\nSkipping line 43923: expected 13 fields, saw 14\nSkipping line 43946: expected 13 fields, saw 14\nSkipping line 43947: expected 13 fields, saw 14\nSkipping line 44085: expected 13 fields, saw 14\nSkipping line 44110: expected 13 fields, saw 14\nSkipping line 44144: expected 13 fields, saw 14\nSkipping line 44186: expected 13 fields, saw 14\nSkipping line 44234: expected 13 fields, saw 14\nSkipping line 44311: expected 13 fields, saw 14\nSkipping line 44361: expected 13 fields, saw 14\nSkipping line 44369: expected 13 fields, saw 14\nSkipping line 44409: expected 13 fields, saw 14\nSkipping line 44410: expected 13 fields, saw 14\nSkipping line 44428: expected 13 fields, saw 14\nSkipping line 44434: expected 13 fields, saw 14\nSkipping line 44449: expected 13 fields, saw 14\nSkipping line 44454: expected 13 fields, saw 14\nSkipping line 44457: expected 13 fields, saw 14\nSkipping line 44474: expected 13 fields, saw 14\nSkipping line 44512: expected 13 fields, saw 14\nSkipping line 44549: expected 13 fields, saw 14\nSkipping line 44602: expected 13 fields, saw 14\nSkipping line 44605: expected 13 fields, saw 14\nSkipping line 44631: expected 13 fields, saw 14\nSkipping line 44633: expected 13 fields, saw 14\nSkipping line 44645: expected 13 fields, saw 14\nSkipping line 44663: expected 13 fields, saw 14\nSkipping line 44664: expected 13 fields, saw 14\nSkipping line 44690: expected 13 fields, saw 14\nSkipping line 44763: expected 13 fields, saw 14\nSkipping line 44812: expected 13 fields, saw 14\nSkipping line 44819: expected 13 fields, saw 14\nSkipping line 44834: expected 13 fields, saw 14\nSkipping line 44838: expected 13 fields, saw 14\nSkipping line 44895: expected 13 fields, saw 14\nSkipping line 44916: expected 13 fields, saw 14\nSkipping line 44944: expected 13 fields, saw 14\nSkipping line 44947: expected 13 fields, saw 14\nSkipping line 44993: expected 13 fields, saw 14\nSkipping line 45008: expected 13 fields, saw 14\nSkipping line 45017: expected 13 fields, saw 14\nSkipping line 45068: expected 13 fields, saw 14\nSkipping line 45828: expected 13 fields, saw 14\nSkipping line 45918: expected 13 fields, saw 14\nSkipping line 45921: expected 13 fields, saw 14\nSkipping line 45923: expected 13 fields, saw 14\nSkipping line 45939: expected 13 fields, saw 14\nSkipping line 45949: expected 13 fields, saw 14\nSkipping line 45954: expected 13 fields, saw 14\nSkipping line 45984: expected 13 fields, saw 14\nSkipping line 46000: expected 13 fields, saw 14\nSkipping line 46010: expected 13 fields, saw 14\nSkipping line 46015: expected 13 fields, saw 14\nSkipping line 46024: expected 13 fields, saw 14\nSkipping line 46026: expected 13 fields, saw 14\nSkipping line 46074: expected 13 fields, saw 14\nSkipping line 46099: expected 13 fields, saw 14\nSkipping line 46595: expected 13 fields, saw 14\nSkipping line 46889: expected 13 fields, saw 14\nSkipping line 46900: expected 13 fields, saw 14\nSkipping line 46903: expected 13 fields, saw 14\nSkipping line 46925: expected 13 fields, saw 14\nSkipping line 47958: expected 13 fields, saw 14\nSkipping line 47989: expected 13 fields, saw 14\nSkipping line 48064: expected 13 fields, saw 14\nSkipping line 48177: expected 13 fields, saw 14\nSkipping line 48254: expected 13 fields, saw 14\nSkipping line 48280: expected 13 fields, saw 14\nSkipping line 48287: expected 13 fields, saw 14\nSkipping line 48345: expected 13 fields, saw 14\nSkipping line 48359: expected 13 fields, saw 14\nSkipping line 48531: expected 13 fields, saw 14\nSkipping line 48598: expected 13 fields, saw 14\nSkipping line 48645: expected 13 fields, saw 14\nSkipping line 48728: expected 13 fields, saw 14\nSkipping line 48730: expected 13 fields, saw 14\nSkipping line 48760: expected 13 fields, saw 14\nSkipping line 48909: expected 13 fields, saw 14\nSkipping line 48946: expected 13 fields, saw 14\nSkipping line 49357: expected 13 fields, saw 14\nSkipping line 49890: expected 13 fields, saw 14\nSkipping line 51840: expected 13 fields, saw 14\nSkipping l

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,fiscal_year,last,first,m,department,title,regular,overtime,other,total,annual,termination,
0,2016,TOBEY,JAMES,A,U R I,NON CLASSIFIED,94392.28,0.00,638.76,95031.04,95031.04,,
1,2016,TOBEY,STEPHANIE,A,U R I,NON CLASSIFIED,3576.93,0.00,0.00,3576.93,62000.12,,
2,2016,TISDALE,JACQUELINE,M,U R I,NON CLASSIFIED,54243.32,0.00,362.10,54605.42,56000.1,,
3,2016,TIMPSON JR,DONALD,R,U R I,SR GARDENER,45509.76,4900.29,296.95,50707.00,45751.68,,
4,2016,TINER,JACQUELINE,N,U R I,HUMAN RESOURCES ANALYST I,68550.08,0.00,1001.00,69551.08,68904.42,,
5,2016,TIERNEY,TIMOTHY,W,U R I,NON CLASSIFIED,60967.40,0.00,412.62,61380.02,61380.02,,
6,2016,TIKOIAN,M ELIZABETH,,U R I,NON CLASSIFIED,64049.68,70.86,433.38,64553.92,64483.12,,
7,2016,TIERNEY,LINDA,M,U R I,LICENSED PRACTICAL NURSE,45930.47,1200.42,1001.00,48131.89,65219.96,,
8,2016,TIERNAN,PATRICIA,,U R I,HOUSEKEEPER,41477.09,5237.85,412.72,47127.66,41697.24,,
9,2016,TIBBITS,LISA,A,U R I,HOUSEKEEPER,42029.89,10074.80,521.61,52626.30,41697.24,,
10,2016,THURBER,VERNA,J,U R I,COMPOSITOR,44281.46,0.00,0.00,44281.46,44511.48,,
11,2016,THULIER,DIANE,J,U R I,NON CLASSIFIED,70969.30,0.00,2131.78,73101.08,72100.08,,
12,2016,THORSEN,ANN KATHLEEN,,U R I,INFORMATION AIDE,46375.52,58.92,0.00,46434.44,46621.64,,
13,2016,THORNBER,CAROL,S,U R I,NON CLASS -CODE 10,128032.00,0.00,2465.12,130497.12,129496.12,,
14,2016,THOMPSON,STEVEN,R,U R I,NON CLASSIFIED,72392.66,0.00,737.28,73129.94,73129.94,,
15,2016,THOMPSON,SEAN,J,U R I,NON CLASSIFIED,51432.04,0.00,348.00,51780.04,51780.04,,
16,2016,THOMPSON,ROBERT,,U R I,NON CLASSIFIED,107541.32,0.00,1641.78,109183.10,109183.1,,
17,2016,THOMPSON,PAMELA,E,U R I,HIGHER ED FIN OFF PREAUDIT CLK,46926.21,6887.76,0.00,53813.97,48259.64,,
18,2016,THOMPSON,MARCELLA,R,U R I,NON CLASSIFIED,70969.30,0.00,2131.78,73101.08,72100.08,,
19,2016,THOMPSON,NAOMI,R,U R I,NON CLASSIFIED,147844.19,0.00,1505.79,149349.98,149349.98,,
20,2016,THOMAS SR,DAVID,B,U R I,MOTOR EQUIPMENT OPERATOR,36272.00,9636.47,1525.87,47434.34,36462.4,,
21,2016,THOMAS JR,DAVID,B,U R I,HOUSEKEEPER,31670.12,2514.24,702.17,34886.53,35486.88,,
22,2016,THOMAS,SUSAN,H,U R I,NON CLASS -CODE 10,46542.54,0.00,741.72,47284.26,47284.12,,
23,2016,THOMAS,NATACHA,E,U R I,NON CLASSIFIED,95736.52,0.00,1525.58,97262.10,97262.1,,
24,2016,THOMAS,CAROLYN,F,U R I,NON CLASSIFIED,69521.48,0.00,470.52,69992.00,69992,,
25,2016,THOMAS,CYNTHIA,B,U R I,NON CLASSIFIED,125806.40,0.00,2004.52,127810.92,127811.06,,
26,2016,THOMA,LUBOS,,U R I,NON CLASSIFIED,76588.24,0.00,1220.52,77808.76,77808.9,,
27,2016,THOMAS,BIJU,,U R I,NON CLASSIFIED,80101.33,0.00,557.10,80658.43,82890.08,,
28,2016,THEROUX-KOCHANEK,NICOLE,L,U R I,NON CLASSIFIED,44544.12,0.00,2002.00,46546.12,44872.88,,
29,2016,THIBAULT,PATRICIA,A,U R I,COOK'S HELPER,41058.23,0.00,1167.93,42226.16,40970.02,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138311,2018,YORTY,NINA,,U R I,HOUSEKEEPER,11928.31,0.00,468.26,12396.57,33702,,
138312,2018,YOUNCOFSKI,ERIC,V,U R I,NON CLASSIFIED,25038.44,0.00,115.50,25153.94,46500,,
138313,2018,YOUNG,LEISA,E,U R I,,53362.31,0.00,16210.35,69572.66,89511,1/26/2018,
138314,2018,YOUNG,TODD,,U R I,HOUSEKEEPER,21838.08,7250.98,917.89,30006.95,35486.9,,
138315,2018,YOUNG,WAYNE,A,U R I,NON CLASSIFIED,39087.00,3007.25,2198.63,44292.88,50813.1,,
138316,2018,YUAN,CHENGZHI,,U R I,NON CLASSIFIED,68930.80,0.00,0.00,68930.80,89610,,
138317,2018,YUAN,HONGYAN,,U R I,NON CLASSIFIED,69767.00,0.00,0.00,69767.00,90697.1,,
138318,2018,ZABINSKI,MARK,J,U R I,NON CLASSIFIED,52623.00,0.00,0.00,52623.00,68409.9,,
138319,2018,ZACHORNE,CHRISTIAN,M,U R I,COOK S HELPER,29786.96,9.22,130.92,29927.10,38354.7,,
138320,2018,ZANZAROV,ELENA,M,U R I,NON CLASSIFIED,5100.74,0.00,0.00,5100.74,23266.9,,
138321,2018,ZAWIA,NASSER,H,U R I,NON CLASSIFIED,152830.00,0.00,0.00,152830.00,198679,,
138322,2018,ZELAZO,AMANDA,B,U R I,NON CLASSIFIED,48327.36,0.00,0.00,48327.36,66517.9,,
138323,2018,ZHANG,BAOHONG,,U R I,NON CLASSIFIED,40793.80,0.00,0.00,40793.80,53031.9,,
138324,2018,ZHANG,YING,,U R I,NON CLASSIFIED,73590.80,0.00,0.00,73590.80,95668,,
138325,2018,ZHANG,YUAN,,U R I,NON CLASSIFIED,64177.00,0.00,0.00,64177.00,83430.1,,
138326,2018,ZHANG,ZONGQIN,,U R I,NON CLASSIFIED,108464.60,0.00,1001.00,109465.60,141004,,
138327,2018,ZHAO,WEISHU,,U R I,NON CLASSIFIED,24651.00,0.00,0.00,24651.00,47476,,
138328,2018,ZHENG,YI,,U R I,NON CLASSIFIED,69767.00,0.00,0.00,69767.00,90697.1,,
138329,2018,ZHU,XIAOYUE,,U R I,NON CLASSIFIED,38165.43,0.00,847.00,39012.43,50000.1,,
138330,2018,ZHU,ZHENGHAN,,U R I,NON CLASSIFIED,12319.97,0.00,1047.86,13367.83,48900,8/31/2017,
138331,2018,ZINCONE,RONNIE,A,U R I,INFORMATION SERVICES TECH I,36361.99,0.00,1001.00,37362.99,48243.3,,
138332,2018,ZINSER,LISA,M,U R I,INFORMATION SERVICES TECH I,34370.80,0.00,0.00,34370.80,44682,,
138333,2018,ZONFRILLO,DAVID,H,U R I,MAINTENANCE SUPERINTENDENT,36382.60,3026.00,1514.28,40922.88,48034.5,,
138334,2018,ZONFRILLO,PATRICIA,A,U R I,COOK S HELPER,31742.45,0.00,845.20,32587.65,40970,,
138335,2018,ZORABEDIAN,THOMAS,R,U R I,NON CLASSIFIED,52090.25,0.00,0.00,52090.25,99794,,
138336,2018,ZOZULA,CHRISTINE,E,U R I,NON CLASSIFIED,53677.60,0.00,0.00,53677.60,69780.9,,
138337,2018,ZUERCHER,DONNA,M,U R I,SR WORD PROCESSING TYPIST,27392.88,0.00,0.00,27392.88,38937.1,,
138338,2018,ZWOLINSKI,MELISSA,M,U R I,HOUSEKEEPER,28879.43,0.00,0.00,28879.43,37261.4,,
138339,2018,ZWOLINSKI,ROSE MARIE,,U R I,HOUSEKEEPER,32457.28,2886.72,46.11,35390.11,41697.2,,
138340,2018,ZYER,ALISHIA,G,U R I,,0.00,0.00,719.02,719.02,0,6/23/2017,

In [43]:
RI_data

,fiscal_year,last,first,m,department,title,regular,overtime,other,total,annual,termination,
0,2016,TOBEY,JAMES,A,U R I,NON CLASSIFIED,94392.28,0.00,638.76,95031.04,95031.04,,
1,2016,TOBEY,STEPHANIE,A,U R I,NON CLASSIFIED,3576.93,0.00,0.00,3576.93,62000.12,,
2,2016,TISDALE,JACQUELINE,M,U R I,NON CLASSIFIED,54243.32,0.00,362.10,54605.42,56000.1,,
3,2016,TIMPSON JR,DONALD,R,U R I,SR GARDENER,45509.76,4900.29,296.95,50707.00,45751.68,,
4,2016,TINER,JACQUELINE,N,U R I,HUMAN RESOURCES ANALYST I,68550.08,0.00,1001.00,69551.08,68904.42,,
5,2016,TIERNEY,TIMOTHY,W,U R I,NON CLASSIFIED,60967.40,0.00,412.62,61380.02,61380.02,,
6,2016,TIKOIAN,M ELIZABETH,,U R I,NON CLASSIFIED,64049.68,70.86,433.38,64553.92,64483.12,,
7,2016,TIERNEY,LINDA,M,U R I,LICENSED PRACTICAL NURSE,45930.47,1200.42,1001.00,48131.89,65219.96,,
8,2016,TIERNAN,PATRICIA,,U R I,HOUSEKEEPER,41477.09,5237.85,412.72,47127.66,41697.24,,
9,2016,TIBBITS,LISA,A,U R I,HOUSEKEEPER,42029.89,10074.80,521.61,52626.30,41697.24,,
10,2016,THURBER,VERNA,J,U R I,COMPOSITOR,44281.46,0.00,0.00,44281.46,44511.48,,
11,2016,THULIER,DIANE,J,U R I,NON CLASSIFIED,70969.30,0.00,2131.78,73101.08,72100.08,,
12,2016,THORSEN,ANN KATHLEEN,,U R I,INFORMATION AIDE,46375.52,58.92,0.00,46434.44,46621.64,,
13,2016,THORNBER,CAROL,S,U R I,NON CLASS -CODE 10,128032.00,0.00,2465.12,130497.12,129496.12,,
14,2016,THOMPSON,STEVEN,R,U R I,NON CLASSIFIED,72392.66,0.00,737.28,73129.94,73129.94,,
15,2016,THOMPSON,SEAN,J,U R I,NON CLASSIFIED,51432.04,0.00,348.00,51780.04,51780.04,,
16,2016,THOMPSON,ROBERT,,U R I,NON CLASSIFIED,107541.32,0.00,1641.78,109183.10,109183.1,,
17,2016,THOMPSON,PAMELA,E,U R I,HIGHER ED FIN OFF PREAUDIT CLK,46926.21,6887.76,0.00,53813.97,48259.64,,
18,2016,THOMPSON,MARCELLA,R,U R I,NON CLASSIFIED,70969.30,0.00,2131.78,73101.08,72100.08,,
19,2016,THOMPSON,NAOMI,R,U R I,NON CLASSIFIED,147844.19,0.00,1505.79,149349.98,149349.98,,
20,2016,THOMAS SR,DAVID,B,U R I,MOTOR EQUIPMENT OPERATOR,36272.00,9636.47,1525.87,47434.34,36462.4,,
21,2016,THOMAS JR,DAVID,B,U R I,HOUSEKEEPER,31670.12,2514.24,702.17,34886.53,35486.88,,
22,2016,THOMAS,SUSAN,H,U R I,NON CLASS -CODE 10,46542.54,0.00,741.72,47284.26,47284.12,,
23,2016,THOMAS,NATACHA,E,U R I,NON CLASSIFIED,95736.52,0.00,1525.58,97262.10,97262.1,,
24,2016,THOMAS,CAROLYN,F,U R I,NON CLASSIFIED,69521.48,0.00,470.52,69992.00,69992,,
25,2016,THOMAS,CYNTHIA,B,U R I,NON CLASSIFIED,125806.40,0.00,2004.52,127810.92,127811.06,,
26,2016,THOMA,LUBOS,,U R I,NON CLASSIFIED,76588.24,0.00,1220.52,77808.76,77808.9,,
27,2016,THOMAS,BIJU,,U R I,NON CLASSIFIED,80101.33,0.00,557.10,80658.43,82890.08,,
28,2016,THEROUX-KOCHANEK,NICOLE,L,U R I,NON CLASSIFIED,44544.12,0.00,2002.00,46546.12,44872.88,,
29,2016,THIBAULT,PATRICIA,A,U R I,COOK'S HELPER,41058.23,0.00,1167.93,42226.16,40970.02,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138311,2018,YORTY,NINA,,U R I,HOUSEKEEPER,11928.31,0.00,468.26,12396.57,33702,,
138312,2018,YOUNCOFSKI,ERIC,V,U R I,NON CLASSIFIED,25038.44,0.00,115.50,25153.94,46500,,
138313,2018,YOUNG,LEISA,E,U R I,,53362.31,0.00,16210.35,69572.66,89511,1/26/2018,
138314,2018,YOUNG,TODD,,U R I,HOUSEKEEPER,21838.08,7250.98,917.89,30006.95,35486.9,,
138315,2018,YOUNG,WAYNE,A,U R I,NON CLASSIFIED,39087.00,3007.25,2198.63,44292.88,50813.1,,
138316,2018,YUAN,CHENGZHI,,U R I,NON CLASSIFIED,68930.80,0.00,0.00,68930.80,89610,,
138317,2018,YUAN,HONGYAN,,U R I,NON CLASSIFIED,69767.00,0.00,0.00,69767.00,90697.1,,
138318,2018,ZABINSKI,MARK,J,U R I,NON CLASSIFIED,52623.00,0.00,0.00,52623.00,68409.9,,
138319,2018,ZACHORNE,CHRISTIAN,M,U R I,COOK S HELPER,29786.96,9.22,130.92,29927.10,38354.7,,
138320,2018,ZANZAROV,ELENA,M,U R I,NON CLASSIFIED,5100.74,0.00,0.00,5100.74,23266.9,,
138321,2018,ZAWIA,NASSER,H,U R I,NON CLASSIFIED,152830.00,0.00,0.00,152830.00,198679,,
138322,2018,ZELAZO,AMANDA,B,U R I,NON CLASSIFIED,48327.36,0.00,0.00,48327.36,66517.9,,
138323,2018,ZHANG,BAOHONG,,U R I,NON CLASSIFIED,40793.80,0.00,0.00,40793.80,53031.9,,
138324,2018,ZHANG,YING,,U R I,NON CLASSIFIED,73590.80,0.00,0.00,73590.80,95668,,
138325,2018,ZHANG,YUAN,,U R I,NON CLASSIFIED,64177.00,0.00,0.00,64177.00,83430.1,,
138326,2018,ZHANG,ZONGQIN,,U R I,NON CLASSIFIED,108464.60,0.00,1001.00,109465.60,141004,,
138327,2018,ZHAO,WEISHU,,U R I,NON CLASSIFIED,24651.00,0.00,0.00,24651.00,47476,,
138328,2018,ZHENG,YI,,U R I,NON CLASSIFIED,69767.00,0.00,0.00,69767.00,90697.1,,
138329,2018,ZHU,XIAOYUE,,U R I,NON CLASSIFIED,38165.43,0.00,847.00,39012.43,50000.1,,
138330,2018,ZHU,ZHENGHAN,,U R I,NON CLASSIFIED,12319.97,0.00,1047.86,13367.83,48900,8/31/2017,
138331,2018,ZINCONE,RONNIE,A,U R I,INFORMATION SERVICES TECH I,36361.99,0.00,1001.00,37362.99,48243.3,,
138332,2018,ZINSER,LISA,M,U R I,INFORMATION SERVICES TECH I,34370.80,0.00,0.00,34370.80,44682,,
138333,2018,ZONFRILLO,DAVID,H,U R I,MAINTENANCE SUPERINTENDENT,36382.60,3026.00,1514.28,40922.88,48034.5,,
138334,2018,ZONFRILLO,PATRICIA,A,U R I,COOK S HELPER,31742.45,0.00,845.20,32587.65,40970,,
138335,2018,ZORABEDIAN,THOMAS,R,U R I,NON CLASSIFIED,52090.25,0.00,0.00,52090.25,99794,,
138336,2018,ZOZULA,CHRISTINE,E,U R I,NON CLASSIFIED,53677.60,0.00,0.00,53677.60,69780.9,,
138337,2018,ZUERCHER,DONNA,M,U R I,SR WORD PROCESSING TYPIST,27392.88,0.00,0.00,27392.88,38937.1,,
138338,2018,ZWOLINSKI,MELISSA,M,U R I,HOUSEKEEPER,28879.43,0.00,0.00,28879.43,37261.4,,
138339,2018,ZWOLINSKI,ROSE MARIE,,U R I,HOUSEKEEPER,32457.28,2886.72,46.11,35390.11,41697.2,,
138340,2018,ZYER,ALISHIA,G,U R I,,0.00,0.00,719.02,719.02,0,6/23/2017,

Compare how department mean annual salary changes over fiscal year. Drop the middle initial column, it doesn't seem very useful.

In [87]:
# RI_data.columns
# RI_data = RI_data.drop(' m', axis=1)

years = RI_data['fiscal_year'].unique()
departments = RI_data[' department'].unique()

year_index = pd.Index(years)
dept_index = pd.Index(departments)

means = np.empty(shape = [len(departments), len(years)])

for year in years:
    for dept in departments:
        subset = RI_data.loc[ (RI_data['fiscal_year'] == year) & (RI_data[' department'] == dept) ]
        print( np.mean( [ float(x) for x in subset[' annual'] ] ) )
        #means[ dept_index.get_loc(dept), year_index.get_loc(years) ] = np.mean(subset[' annual'])

65270.3211927
71464.3711364
55412.0328224
76718.72
60895.4327536
65689.0866667
0.0
53330.9261702
77277.7633333
59090.7697646
77930.6353191
64181.7240118
24878.0953363
70082.2007143
70288.66
66048.263254
51006.7294259
9464.28632911
74929.084086
75410.6228571
79869.7466667
71025.8457778
69779.84
61526.205
60088.0
56540.6248873
64486.8058932
39688.6500843
56855.0373951
55434.6128968
58637.9486547
68111.2927513
nan
71957.9540426
66239.6632576
83769.9351323
76312.5257143
54903.745
80046.2

/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

76576.916
50454.2265217
65545.7007547
nan
71908.1241388
70953.5016667
94492.684
nan
nan
nan

ValueError: could not convert string to float:

In [83]:
RI_data.head()

,fiscal_year,last,first,m,department,title,regular,overtime,other,total,annual,termination,
0,2016,TOBEY,JAMES,A,U R I,NON CLASSIFIED,94392.28,0.00,638.76,95031.04,95031.04,,
1,2016,TOBEY,STEPHANIE,A,U R I,NON CLASSIFIED,3576.93,0.00,0.00,3576.93,62000.12,,
2,2016,TISDALE,JACQUELINE,M,U R I,NON CLASSIFIED,54243.32,0.00,362.10,54605.42,56000.1,,
3,2016,TIMPSON JR,DONALD,R,U R I,SR GARDENER,45509.76,4900.29,296.95,50707.00,45751.68,,
4,2016,TINER,JACQUELINE,N,U R I,HUMAN RESOURCES ANALYST I,68550.08,0.00,1001.00,69551.08,68904.42,,

49